<!DOCTYPE html>
<html>
<head>
  <title>翻譯結果</title>
</head>
<body>
<h1>翻譯結果</h1>
<p><%= @translated_message %></p>
<%= link_to "返回", casual_translate_path, class: "btn btn-primary" %>
</body>
</html>
